## Homework 4
  ### Weiyi Li wl2485

### Questions 1
“Give a count of all videos currently out”:

SQL Code:
```SQL
SELECT count(customer_id)
FROM rental
WHERE return_date is NULL
```

Result:
![caption](files/Q1.png)

### Questions 3
“Give the most popular actors by store location”:

SQL Code:
```SQL
SELECT a.first_name,a.last_name,a.Actor_id, a.Store_id,a.address AS Store_location,a.Count AS Number_of_rentals_of_his_films FROM (
SELECT actor.first_name,actor.last_name,film_actor.actor_id,inventory.store_id,count(rental.rental_id) , address.address FROM rental
INNER JOIN inventory ON inventory.inventory_id = rental.inventory_id
INNER JOIN film_actor ON inventory.film_id = film_actor.film_id
INNER JOIN actor ON actor.actor_id = film_actor.actor_id
INNER JOIN store ON store.store_id = inventory.store_id
INNER JOIN address ON store.address_id = address.address_id
GROUP BY actor.first_name, actor.last_name, film_actor.actor_id, inventory.store_id, address.address ) AS a
where  a.Count=(select max(b.Count)  from (
SELECT film_actor.actor_id,inventory.store_id,count(rental.rental_id) FROM rental
INNER JOIN inventory ON inventory.inventory_id = rental.inventory_id
INNER JOIN film_actor ON inventory.film_id = film_actor.film_id
GROUP BY film_actor.actor_id,inventory.store_id 
) as b  
where a.Store_id = b.Store_id );  
```

Result:
![caption](files/Q3.png)

### Question 5
“What hour of the day to people rent the most”:

SQL Code:
```SQL
SELECT extract(hour FROM rental_date) AS rental_hour,
       count(extract(hour FROM rental_date))
FROM rental
GROUP BY rental_hour
ORDER BY 2 DESC;
```

Result:
![caption](files/Q5.png)

### Question 6
“Which store is more profitable, assuming all movies cost $15 per inventory item to purchase”:

SQL Code:
```SQL
SELECT a.store_id,a.cost,b.income,(b.income-a.cost) AS profit
FROM(
SELECT store.store_id, count(inventory.inventory_id)*15 As cost
FROM inventory
INNER JOIN store ON inventory.store_id = store.store_id
GROUP BY store.store_id) as a
INNER JOIN (SELECT store.store_id, SUM(payment.Amount) AS Income
FROM payment
INNER JOIN staff ON staff.staff_id = payment.staff_id
INNer JOIN store ON staff.store_id = store.store_id
GROUP BY store.store_id
) as b
ON a.store_id = b.store_id
ORDER BY 4 DESC
```

Result:
![caption](files/Q6.png)